<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d [%t] %-5p: %c - %m%n</pattern>
        </encoder>
    </appender>

    <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/tmp/server.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>/tmp/server-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>10</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d [%t] %-5p: %c - %m%n</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework" level="INFO"/>
    <!--    <logger name="org.apache.http" level="ERROR"/>-->
    <logger name="org.hibernate" level="INFO"/>
    <logger name="com.zaxxer.hikari.pool.HikariPool" level="ERROR"/>

    <!--if spring security is used again indicate which filters were added -->
    <logger name="org.springframework.security.web.FilterChainProxy" level="DEBUG"/>

    <logger name="springfox.documentation.schema" level="INFO"/>
    <logger name="springfox.documentation.spring.web.readers" level="INFO"/>
    <logger name="springfox.documentation.swagger.readers.operation" level="INFO"/>
    <logger name="springfox.documentation.spring.web.scanner" level="INFO"/>
    <logger name="liquibase.servicelocator.CustomResolverServiceLocator" level="INFO"/>
    <logger name="liquibase.diff.output.changelog.DiffToChangeLog" level="INFO"/>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ROLLING"/>
    </root>
</configuration>